In [2]:
import pandas as pd

data =pd.read_csv('art_installation_dataset.csv')
data.head()

,Timestamp,Light_Intensity,Sound_Level,Motion_Density,Temperature,Humidity,Light_RGB,Brightness,Anim_Speed,Style,Complexity,Confidence,Engagement_Time,User_Sentiment,Interaction_Freq,Target
0,2025-01-01 12:00:00,115,80,0.64,26,55,"(12, 130, 22)",220,1,fluid,0.88,0.84,48,neutral,2,0.33
1,2025-01-01 12:00:05,197,45,0.52,27,60,"(239, 89, 219)",154,5,geometric,0.42,0.92,62,neutral,1,0.37
2,2025-01-01 12:00:10,375,68,0.40,24,46,"(97, 44, 254)",72,7,abstract,0.77,0.96,41,negative,6,0.30
3,2025-01-01 12:00:15,457,54,0.05,21,58,"(155, 9, 107)",87,5,fluid,0.44,0.91,110,negative,0,0.50
4,2025-01-01 12:00:20,453,89,0.20,22,50,"(140, 153, 97)",239,9,abstract,0.48,0.82,15,neutral,16,0.40